.hidden-input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;
}

.content-container {
    display: flex;
    
}