table tbody tr td {
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: rgba(216, 225, 252, 1);
  }