table {
    background-color: white;
}

#cr {
  font-size: 14px;
}

#cr th, #cr td {
  /* border: 1px solid black; */
  padding: 8px;
}

table tbody tr td{
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: #bbe9f8;
    /* padding: 2px; */
  }

thead tr th{
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: #bbe9f8;
    /* padding: 2px; */
  }
